<footer>
    <div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-md-row flex-column justify-content-md-between">
				<div class="">
					<ul class="list-inline">
						<li class="list-inline-item">
							<span>&copy; {{ 'now'|date('Y') }} </span><a href="{{ site.company.url }}" target="_blank">{{ site.company.name }}</a>
						</li>
					</ul>
				</div>
				<div class="">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="/kontakt">Kontakt</a>
						</li>
						<li class="list-inline-item">
							<a href="/datenschutz/">Datenschutz</a>
						</li>
						<li class="list-inline-item">
							<a href="/impressum/">Impressum</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </div>
</footer>


