/*
.page-link {
	border:none;
	color: $text-color;

	&:active, &:focus, &:hover {
		color: $text-color-hover;
	}
}

.page-item.active .page-link {
	background-color: $container-bg-medium;
	color: $text-color;
	&:hover {
		color: $text-color-hover;
	}
}

.page-item:last-child .page-link {
	@include border-right-radius(0);
}
.page-item:first-child .page-link {
	@include border-left-radius(0);
}*/
